.card-wrapper{
    display: flex;
    gap: 3rem;
}

.card-size{
    height: 320px;
    width: 210px;
    border-radius: 10px;   
      
}

.background-image{
    background-image: url('./organise.jpg');  
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.creativity{
    background-color: #2269f4;
}

.organised{
    background-color: #1748cc;
}

.curious{
    background-color: #133cbd;
}

.precision{
    background-color: #1035b4;
}

.enthousiasm{
    background-color: #020b80;
}