.FA-Branding {
  color: white;
  background-color: #ff9fcb;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-align {
  display: flex;
  justify-content: center;
  gap: 4rem;
  position: relative;
  margin-top: 5rem;
}

.flex-center {
  display: flex;
  flex-direction: column;
  width: 20rem;
  text-align: center;
  align-items: center;
}

.flex-center h3 {
  margin: 0;
  padding: 1rem;
  font-size: 1.45rem;
  line-height: 1.75rem;
  color: #a0aec0;
  font-weight: 500;
}

.flex-center p {
  font-style: normal;
  font-size: 1rem;
  letter-spacing: -0.025em;
  font-weight: 300;
}

.flex-align h1 {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

h1.background {
  display: flex;
  position: absolute;
  z-index: -1;
  width: 60rem;
  left: 28rem;

  &:before {
    border-top: 3px dotted #a0aec0;
    opacity: 0.1;
    content: "";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -2;
  }
}
