h2 {
  color: #a0aec0;
  font-size: 18px;
  margin: 0;
  padding-bottom: 3rem;    
}

h3 {
  color: #a0aec0;
  margin: 0;  
  font-size: 14px;
  padding-bottom: 4rem;
}

.main-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content:center;   
}

.dividing {
  width: 1px; /* Largeur de la barre */
  height: 16rem; /* Hauteur de la barre */
  background-color: white; /* Couleur de la barre */  
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.integration{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.integration-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-content{
    display: flex;
    gap: 8rem;
}

.conception{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divinding-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff9fcb; 
  margin-top: 0.5rem; 
  width: 25rem;
}

.dividing-2{
  background-color: white;
  width: 13rem;
  height: 1px;
}

.border-wrapper{
  display: flex;
  gap: 1rem;
}

.center{
  display: flex;
  gap: 3rem;  
}

.dividing-3{
  width: 1px; /* Largeur de la barre */
  height: 6rem; /* Hauteur de la barre */
  background-color: white; /* Couleur de la barre */  
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pos-rel{
  position: relative;
  left: 12rem;
}

.pos-rel-right{
  position: relative;
  right: 12rem;
}

.wordpress{
  width: 24.5rem;
}

.dividing-4{
  height: 22rem;
  width: 1px;
  background-color: white;
}

.row-gap{
  row-gap: 1rem;
}

.dividing-5{
  height: 3rem;
  width: 1px;
  background-color: white;
}