.flex-try {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-try h1 {
  padding-top: 10rem;
  color: white;
  margin: 0;
}

.flex-try p {
  color: #a0aec0;
  padding-top: 0.5rem;
  font-size: 16px;
  padding-bottom: 8rem;
}

.sized-logo img {
  width: 100px;
  height: 100px;
}

.card-wrapper{
  display: flex;
  gap: 2rem;

}
