.footer-container {
  display: flex;
  gap: 5rem;
  margin-left: 5rem;
  align-items: flex-start;
  justify-content: center;
  margin-top: 8rem;
}

.footer-container h3 {
  color: white;
  margin: 0;
}

.footer-container a,
p,
li {
  color: #a0aec0;
}

.branding h3,
p {
  margin: 0px;
}

.footer-container a,
ul,
p {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  font-size: 14px;
}

.footer-container a {
  display: flex;
  width: 150px;
  padding: 3px;
}

.bg-fade {
  color: inherit;
  transition: background-color 0.5s ease;
}

.bg-fade:hover {
  color: white;
  background-color: #ff9fcb;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6px;
}

.reseau {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.reseau a {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 6px;
}

.societe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.societe a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 6px;
}

.branding {
  padding: 10px;
  margin-right: 9rem;
  border: 1px solid #a0aec0;
  border-top: none;
  border-right: none;
}
