@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .hover-animation{
    opacity: 0.5;
    transform: scale(1);
    transition: all .2s ease-in-out !important;
    transition: opacity .6s;
  }
  .hover-animation:hover{
    transform: scale(1.1);
    opacity: 1;
    transition: all .2s ease-in-out !important;
    transition: opacity .6s;
  }

  .gradient-banner-home {
    background: linear-gradient(rgba(15,17,19,.792156862745098),rgba(62,63,112,0),rgba(15,17,19,.30196078431372547));
}     
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

