.bg-style{ 
    margin-top: 100px;
    height:100%;
    background-repeat: no-repeat;  
  } 
    
  .demo-content img {
    width: 32rem; 
  }
  
  .demo-content  {
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
  }
  
  .name{
    color: white;
    font-weight: 800;
    margin: 0;
  }
  
  .work{
    background-image: linear-gradient(to right, #ffc6df, #ffb3d5, #ff9fcb, #ff8ac1, #ff73b6);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: 700;
    margin: 0;
    padding-bottom:125px;
  }